// миксин для боковых отступов
@mixin side-padding($size) {
  padding-left: $size;
  padding-right: $size;
}

// миксин для распорки
@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// миксин для активных стилей кнопок плеера
@mixin player-btn-style {

  fill: #5c6870;

  &:hover {
    fill: #333;
  }

  &:active {
    fill: #c1c1c1;
  }
}
