.features {
  @include side-padding(20px);
  padding-top: 40px;
  padding-bottom: 5px;
}

.features__item {
  position: relative;
  padding-left: 50px;
  text-align: left;

  &--gift svg,
  &--burger svg,
  &--house svg {
    fill: #81b3d2;
  }
}


.features__icon {
  position: absolute;
  top: -13px;
  left: 0;
  width: 42px;
  height: 42px;
}



.features__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.features__text {
  margin-bottom: 35px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

@media (min-width: 768px) {
  .features {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    padding: 0;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .features__item {
    box-sizing: border-box;
    padding-left: 0;
    @include side-padding(45px);
    width: 33.33%;
    text-align: center;

    &--gift {
      order: 1;
    }

  }

  .features__icon {
    position: static;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

    &--gift svg {
      width: 90px;
      height: 76px;
      fill: #81b3d2;
    }

    &--burger svg {
      width: 80px;
      height: 70px;  
      fill: #81b3d2;
    }

    &--house {
      width: 75px;
      height: 75px;
      fill: #81b3d2;
    }
  }
}
