.form__group {
  position: relative;
  @include side-padding(20px);
  padding-top: 30px;
  padding-bottom: 25px;
  margin: 0;
  border: 0;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #e5e5e5;
  }
}

.form__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.form__presentation-wrapper {
  margin-bottom: 20px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;


  &:last-child {
    margin-bottom: 0;
  }
}

.form__presentation-label {
  font-size: 14px;
  line-height: 26px;
  margin-right: 20px;
  align-self: center;
}

.form__presentation-field {
  flex-grow: 1;
  display: inline-block;
  vertical-align: top;
  min-width: 50px;
  padding: 17px 20px;
  background: $bg-input;
  box-sizing: border-box;
  font-family: $ff-PT-Sans;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  border: 0;
  outline: 0;

  &::-webkit-input-placeholder {
    opacity: 1;
    color: #000000;
  }
  &::-moz-placeholder {
    opacity: 1;
    color: #000000;
  }
  &:-moz-placeholder {
    opacity: 1;
    color: #000000;
  }
  &:-ms-input-placeholder {
    opacity: 1;
    color: #000000;
  }

  &:hover {
    background: $bg-input-hvr;
  }

  &:focus {
    background-color: transparent;
    box-shadow: inset 0 0 0 4px #e5e5e5;
  }
}

.form__contacts-wrapper {
  position: relative;
  margin-bottom: 45px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;

  &:last-child {
    margin-bottom: 0;
  }

  &--tel::before {
    content: "";
    z-index: 5;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 58px;
    height: 58px;
    background: #e6e6e6;
    background-image: url("../img/icons/icon-phone.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
  }

  &--email::before {
    content: "";
    z-index: 5;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 58px;
    height: 58px;
    background: #e6e6e6;
    background-image: url("../img/icons/icon-mail.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
  }
}

.form__contacts-error-msg {
  position: absolute;
  bottom: -25px;
  left: 20px;
  color: #ff5c5c;
  font-size: 14px;
  line-height: 26px;
  text-transform: none;
}

.form__contacts-label {
  padding-left: 20px;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 26px;
}

.form__contacts-field {
  display: inline-block;
  vertical-align: top;
  padding: 17px 20px;
  background: $bg-input;
  box-sizing: border-box;
  font-family: $ff-PT-Sans;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  flex-grow: 1;
  border: 0;
  outline: 0;

  &::-webkit-input-placeholder {
    opacity: 1;
    color: #000000;
  }
  &::-moz-placeholder {
    opacity: 1;
    color: #000000;
  }
  &:-moz-placeholder {
    opacity: 1;
    color: #000000;
  }
  &:-ms-input-placeholder {
    opacity: 1;
    color: #000000;
  }

  &:hover {
    background: $bg-input-hvr;
  }

  &:focus {
    background-color: transparent;
    box-shadow: inset 0 0 0 4px #e5e5e5;
  }
}

.form__effect-wrapper {
  margin-bottom: 24px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__effect-label {
  position: relative;
  display: block;
  padding-left: 80px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
  align-self: center;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 55px;
    height: 55px;
    background: $bg-input;
    border-radius: 50%;
  }
}

.form__effect-label:hover::after {
  background: $bg-input-hvr;
}

.form__effect-label:active::after {
  background: $bg-input-dwn;
}

.form__effect-field:checked + .form__effect-label::before {
  content: "";
  z-index: 1;
  position: absolute;
  top: 17px;
  left: 17px;
  width: 22px;
  height: 22px;
  background: #333333;
  border-radius: 50%;
}

.form__effect-field:checked + .form__effect-label:active::before {
  background: #a4a4a4;
}

.form__effect-field {
  display: none;
}

.form__sight-wrapper {
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__sight-field {
  display: none;
}

.form__sight-label {
  position: relative;
  display: block;
  padding-left: 80px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: $bg-input;
    width: 55px;
    height: 55px;
    border-radius: 7px;
  }
}

.form__sight-label:hover::after {
  background: $bg-input-hvr;
}

.form__sight-label:active::after {
  background: $bg-input-dwn;
}

.form__sight-field:checked + .form__sight-label::before {
  content: "";
  z-index: 1;
  position: absolute;
  top: 15px;
  left: 15px;
  width: 18px;
  height: 14px;
  background-color: transparent;
  border: 4px solid  #333333;
  transform: rotate(-45deg);
  clip: rect(8px, 20px, auto, auto);
}

.form__sight-field:checked + .form__sight-label:active::before {
  border-color: #b9b9b9;
}

.form__emotions-field {
  font-family: $ff-PT-Sans;
  box-sizing: border-box;
  width: 100%;
  min-height: 160px;
  padding: 20px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
  background: $bg-input;
  resize: none;
  outline: 1px solid transparent;
  border: 0;

  &:hover {
    background: $bg-input-hvr;
  }

  &:focus {
    background-color: transparent;
    box-shadow: inset 0 0 0 4px #e5e5e5;
  }
}

.form__btn {
  font-family: $ff-PT-Sans;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 16px 0;
  outline: 1px solid transparent;
  border: 0;
  background: $bg-blue;
  font-size: 21px;
  line-height: 26px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background: $bg-blue-hvr;
  }

  &:active {
    background: $bg-blue-down;
    color: rgba(255, 255, 255, 0.3);
  }
}

.form__footnote {
  display: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  color: #333;
}

@media (min-width: 768px) {
  .form {
    @include side-padding(60px);
    padding-top: 30px;
  }

  .form form {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .form__group {

    box-sizing: border-box;
    padding: 0;


    &::after {
      display: none;
    }
    &--effect {
      order: -1;
      width: 50%;
      border-right: 1px solid  #dbdbdb;
      margin-bottom: 70px;
    }

    &--presentation {
      width: 50%;
      padding-left: 55px;
      margin-bottom: 70px;
    }

    &--contacts {
      width: 100%;
      margin-bottom: 55px;
    }

    &--sight {
      margin-bottom: 45px;
    }

    &--emotion {
      width: 100%;
      margin-bottom: 55px;
    }

    &--btn {
      width: 100%;
      margin-bottom: 63px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .form__title {
    font-size: 21px;
    line-height: 26px;
    text-align: center;

    &--effect {
      padding-right: 42px;
    }

    &--presentation {
      text-align: left;
    }

    &--sight {
      margin-bottom: 45px;
    }

    &--emotion {
      margin-bottom: 60px;
    }
  }

  .form__title--contacts {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;

    &::after,
    &::before {
      content: "";
      min-width: 100px;
      height: 1px;
      background: #dbdbdb;
      flex-grow: 1;
      align-self: center;
    }

    &::before {
      margin-right: 60px;
    }

    &::after {
      margin-left: 60px;
    }
  }

  .form__title--sight {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;

    &::after,
    &::before {
      content: "";
      min-width: 100px;
      height: 1px;
      background: #dbdbdb;
      flex-grow: 1;
      align-self: center;
    }

    &::before {
      margin-right: 60px;
    }

    &::after {
      margin-left: 60px;
    }
  }

  .form__title--emotion {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;

    &::after,
    &::before {
      content: "";
      min-width: 100px;
      height: 1px;
      background: #dbdbdb;
      flex-grow: 1;
      align-self: center;
    }

    &::before {
      margin-right: 60px;
    }

    &::after {
      margin-left: 60px;
    }
  }

  .form__title-visibility-none {
    display: none;
  }

  .form__contacts-wrapper {
    margin-bottom: 30px;
  }

  .form__sight-wrappers {
    padding-left: 93px;
    padding-right: 45px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__sight-wrapper {
    width: 240px;

    &:last-child {
      margin-bottom: 25px;
    }
  }

  .form__btn {
    width: 50%;
    text-align: center;
  }

  .form__footnote {
    display: block;
  }
}

@media (min-width: 1200px) {
  .form {
    @include side-padding(120px);
  }

  .form__group--presentation {
    padding-left: 80px;
  }

  .form__title--contacts {
    margin-bottom: 60px;
  }

  .form__contacts-wrappers {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    flex-grow: 0;
  }

  .form__contacts-wrapper {
    flex-direction: row;
    box-sizing: border-box;

    &:last-child {
      margin-bottom: 30px;
    }
  }

  .form__contacts-field {
    width: 316px;
  }

  .form__contacts-label {
    align-self: center;
    padding-left: 0;
    margin-right: 20px;
  }

  .form__contacts-label-hidden {
    display: none;
  }

  .form__sight-wrappers {
    @include side-padding(0);
    width: 960px;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .form__sight-wrapper {
    width: auto;
  }
}
