.intro {
  padding-bottom: 1px;

  &--inner {
    margin-bottom: 22px;
  }
}

.intro__img {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  height: 387px;
  margin-bottom: 40px;
  background-color: #ddebf3;
  background-image:
    url("../img/bg-intro-triangle-mobile.svg"),
    url("../img/bg-back-mobile@1x.jpg");
  background-size: 102%, cover;
  background-repeat: no-repeat;
  background-position: center bottom, center;
  text-align: center;

  &--inner {
    height: 155px;
  }
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .intro__img {
    background-image:
      url("../img/bg-intro-triangle-mobile.svg"),
      url("../img/bg-back-mobile@2x.jpg");
  }
}

.intro__img-text {
  margin: auto;
  width: 280px;

  &--inner {
    width: 228px;
    margin-top: 30px;
  }
}

.intro__title {
  margin: 0;
  margin-bottom: 27px;
  @include side-padding(30px);
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;

  &--inner {

  }
}

.intro__text {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  @include side-padding(20px);

  &--inner {
    line-height: 24px;
  }
}

@media (min-width: 768px) {
  .intro__img {
    height: 520px;
    margin-bottom: 47px;
    background-image:
      url("../img/bg-intro-triangle-tablet.svg"),
      url("../img/bg-back-tablet@1x.jpg");
    background-size: 103%, cover;
    background-repeat: no-repeat;
    background-position: bottom, center;
    text-align: center;

    &--inner {
      height: 290px;
      margin-bottom: 73px;
    }
  }

  .intro__img-text {
    width: 461px;
    margin-top: 77px;

    &--inner {
      margin-top: 95px;
    }
  }

  .intro__title {
    font-size: 21px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 29px;

    &--inner {
      font-size: 30px;
      line-height: 30px;
    }
  }

  .intro__text {
    width: 500px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;

    &--inner {
      width: 440px;
      margin-bottom: 45px;
    }
  }
}

@media (min-width: 768px) and (min-resolution: 144dpi),
(min-width: 768px) and (min-resolution: 1.5dppx) {

  .intro__img {
    background-image:
      url("../img/bg-intro-triangle-tablet.svg"),
      url("../img/bg-back-tablet@2x.jpg");
  }
}

@media (min-width: 1200px) {

  .intro__img {
    background-image:
      url("../img/bg-intro-triangle-desktop.svg"),
      url("../img/bg-back-desktop@1x.jpg");

    &--inner {
      height: 301px;
      margin-bottom: 111px;
    }
  }

  .intro__title {
    width: 42%;
  }

  .intro-text {
    width: 440px
  }

  .intro__img-text--inner {
    margin-top: 101px;
  }
}

@media (min-width: 1200px) and (min-resolution: 144dpi),
(min-width: 1200px) and (min-resolution: 1.5dppx) {

  .intro__img {
    background-image:
      url("../img/bg-intro-triangle-desktop.svg"),
      url("../img/bg-back-desktop@2x.jpg");
  }
}
