.player {
  position: relative;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 140px;
}

.player__controls {
  position: absolute;
  left: 20px;
  bottom: -60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 280px;
}

.player__control {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  height: 45px;
}

.player__scale {
  position: relative;
  width: 235px;
  height: 3px;
  background: rgba(255, 255, 255, 0.2);
}

.player__toggle {
  position: absolute;
  top: -3px;
  width: 9px;
  height: 9px;
  background: #fff;
  border-radius: 50%;
  transform: translate(35px)
}

.player__buttons-left,
.player__buttons-right {
  background: #f2f2f2;
  height: 66px;
}

.player__buttons-left {
  display: flex;
  align-items: center;
  padding-left: 25px;
  flex-grow: 1;
}

.player__buttons-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 25px;
  min-width: 85px;
}

.player__btn {
  font-size: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  fill: #5c6870;
}

@media (min-width: 768px) {

  .player {
    width: 648px;
    height: 500px;
  }

  .player__img {
    width: 100%;
    height: 100%;
  }

  .player__controls {
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
  }

  .player__control {
    width: 390px;
    height: 93px;
    padding-left: 42px;
    padding-right: 42px;
    flex-grow: 1;
  }

  .player__scale {
    width: 390px;
  }

  .player__buttons-right,
  .player__buttons-left {
    background: rgba(0, 0, 0, 0.6);
    height: 93px;
  }

  .player__buttons-left {
    order: -1;
  }

  .player__btn {
    fill: #fff;
  }
}

@media (min-width: 1200px) {

  .player {
    width: 800px;
  }

  .player__control {
    width: 540px;
  }

  .player__scale {
    width: 540px;
  }
}
