.player {
  position: relative;

  width: 320px;
  margin-right: auto;
  margin-bottom: 39px;
  margin-left: auto;
}

.player__controls {
  position: absolute;
  bottom: -60px;
  left: 20px;

  display: flex;

  width: 280px;

  justify-content: space-between;
  flex-wrap: wrap;
}

.player__control {
  display: flex;

  width: 100%;
  height: 45px;

  background: rgba(0, 0, 0, 0.6);

  align-items: center;
  justify-content: center;
}

.player__scale {
  position: relative;

  width: 235px;
  height: 3px;

  background: rgba(255, 255, 255, 0.2);
}

.player__toggle {
  position: absolute;
  top: -3px;

  width: 9px;
  height: 9px;

  transform: translate(35px);

  border-radius: 50%;
  background: #fff;
}

.player__buttons-left,
.player__buttons-right {
  height: 66px;

  background: #f2f2f2;
}

.player__buttons-left {
  display: flex;

  padding-left: 13px;

  align-items: center;
  flex-grow: 1;
}

.player__buttons-right {
  display: flex;

  min-width: 101px;
  padding-right: 14px;

  justify-content: space-between;
  align-items: center;
}

.player__btn {
  width: 40px;
  height: 35px;

  cursor: pointer;

  color: #5c6870;
  border: 0;
  outline: 0;
  background-color: transparent;

  font-size: 0;

  &:hover {
    color: #333;
  }

  &:active {
    color: #c1c1c1;
  }

  &--repeat {
    width: 40px;
  }

  &--subtitles {
    width: 50px;
  }

  &--full-screen {
    width: 40px;
    height: 20px;
  }

  svg {
    fill: currentColor;
  }
}


@media (min-width: 768px) {

  .player {
    width: 648px;
    height: 500px;
  }

  .player__img {
    width: 100%;
    height: 100%;
  }

  .player__controls {
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;

    flex-wrap: nowrap;
  }

  .player__control {
    width: 390px;
    height: 93px;
    padding-right: 25px;
    padding-left: 12px;

    flex-grow: 1;
  }

  .player__toggle {
    transform: translateX(112px);
  }

  .player__scale {
    width: 390px;
  }

  .player__buttons-right,
  .player__buttons-left {
    height: 93px;

    background: rgba(0, 0, 0, 0.6);
  }

  .player__buttons-right {
    padding-right: 31px;
  }

  .player__buttons-left {
    order: -1;
    padding-left: 24px;
  }

  .player__btn {
    color: #fff;

    &:hover {
      color: #c1c1c1;
    }

    &:active {
      color: #937d7d;
    }
  }
}

@media (min-width: 1200px) {

  .player {
    width: 800px;
    margin-bottom: 83px;
  }

  .player__control {
    width: 540px;
  }

  .player__scale {
    width: 540px;
  }
}
