.player {
  position: relative;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.player__controls {
  position: absolute;
  bottom: 6px;
}

@media (min-width: 768px) {

  .player {
    width: 648px;
    height: 500px;
  }

  .player__img {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 1200px) {

  .player {
    width: 800px;
  }
}
