.reason {
}

.reason__about {
  padding-top: 40px;
  padding-bottom: 40px;
  @include side-padding(20px);
  background: #81b3d2;
  color: #fff;

  &--bg-gray {
    background: #eee;
    color: #000;
    @include side-padding(20px);
  }
}

.reason__title {

  margin: 0;
  margin-bottom: 10px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.reason__number {
  margin: 0;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.reason__text {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.reason__foto {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.reason__img {
  width: 100%;
  height: 260px;
}

@media (min-width: 768px) {

  .reasons {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .reason {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    width: 100%;

    &--inner-width {
      width: 33.33%;
    }
  }

  .reason__about {
    box-sizing: border-box;
    width: 33.33%;
    @include side-padding(20px);

    &--bg-gray {
      width: 100%;
    }
  }

  .reason__title {
    @include side-padding(30px);
  }

  .reason__text {
    @include side-padding(20px);
  }

  .reason__foto {
    width: 66.66%;
  }

  .reason__img {

  }
}

@media (min-width: 1200px) {

  .reason__about {
    @include side-padding(70px);
  }

  .reason__title {
    @include side-padding(50px);
  }
}
