.video {
  position: relative;
}

.video__about {
  @include side-padding(25px);
  text-align: center;
}

.video__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 27px;
}

.video__text {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 35px;
}

@media (min-width: 768px) {

  .video {
    @include side-padding(60px);
  }

  .video__about {
    width: 420px;
    margin-left: auto;
    margin-right: auto;
  }

  .video__title {
    font-size: 30px;
    line-height: 30px;
  }

  .video__text {
    margin-bottom: 72px;
  }
}
